<template>
  <v-container fluid>

        <v-select
            :items="questionTypes"
            v-model="question_type"
            :rules="[v => !!v || 'Required']"
            item-text="text"
            item-value="value"
            label="Add New Question - Select Type*"
            required
            @change="changeQuestionType"
        ></v-select>

        <component :is="component" />

  </v-container>
</template>

<script>

import api from '@/services/api';
import questionv1 from './QuestionType1.vue';
import questionv2 from './QuestionType2.vue';

export default {
  name: 'Question',
  data: () => ({
      component : '',
      question_type : '1',
      questionTypes : [
          { text : 'Standard Multiple Select', value : '1' },
          { text : 'Coding Multiple Select', value : '2' }
      ]   
  }),
  components: {
      questionv1 : questionv1,
      questionv2 : questionv2
  },
  methods : {
      changeQuestionType(){
          this.component = 'questionv' + this.question_type;
      }
  },
  async mounted(){
      this.changeQuestionType();
  }
}
</script>

<style scoped lang="scss">



</style>
