<template>
  <v-container fluid>

      <v-container fluid class="pa-0 ma-0" v-if="!loading">

      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="save"
      >

        <v-select
            :items="sites"
            item-text="site_name"
            item-value="domain_id"
            v-model="domain_id"
            label="Site*"
            :rules="[v => !!v || 'Required']"
            required
            persistent-hint
            hint="The Domain in which the category will live"
            @change="filterCategories(domain_id)"
        ></v-select>

        

        <template>
        <div  v-show="domain_id" class="mt-10">
            <span class="subtitle">Current Categories for this Domain</span>
   
        <v-simple-table v-show="domain_id" style="max-width: 500px;"> 
            <template v-slot:default>
            <thead>
                <tr>
                <th class="text-left">
                    ID
                </th>
                <th class="text-left">
                    Category Name
                </th>
                <th class="text-left">
                    Slug
                </th>
                </tr>
            </thead>
            <tbody>
                <tr
                v-for="(option,index) in categoryOptions" :key="index"
                >
                <td>{{ option.category_id }}</td>
                <td>{{ option.category_name }}</td>
                <td>{{ option.category_slug }}</td>
                </tr>
            </tbody>
            </template>
        </v-simple-table>
        </div>
        </template>   

        <v-text-field
            v-show="domain_id"
            v-model="category_name"
            label="Category Name*"
            required
            counter
            maxlength="256"
            :rules="[v => !!v || 'Required']"
            spellcheck="true"
            contenteditable="true"
            persistent-hint
            hint="The proper name of the category, this will show in the title"
        ></v-text-field> 

        <v-text-field
            v-show="category_name"
            v-model="category_slug"
            label="Category Slug - NO SPACES*"
            required
            counter
            maxlength="256"
            :rules="[v => !!v || 'Required']"
            spellcheck="true"
            contenteditable="true"
            persistent-hint
            hint="The category slug will be used to find all questions related to the category"
        ></v-text-field> 

        <v-row class="mt-2">
            <v-col cols="12">
                <v-btn @click="cancel" class="red white--text">
                    <v-icon small class="mr-2">fas fa-times</v-icon> Cancel
                </v-btn>

                <v-btn type="submit" class="green white--text float-right">
                    <v-icon small class="mr-2">fas fa-save</v-icon> Save
                </v-btn>
            </v-col>
        </v-row>

        </v-form>

        </v-container>

        <v-container  fluid v-if="loading" >
      
            <div class="d-flex justify-center align-center" style="height:80vh">

                <v-progress-circular 
                    :size="150"
                    :width="10"
                    color="primary"
                    indeterminate 
                ></v-progress-circular>

            </div>

        </v-container>

  </v-container>
</template>

<script>

import api from '@/services/api';


export default {
  name: 'Question',
  data: () => ({
      categories : [],
      categoryOptions : [],
      sites : [],
      category_name : '',
      category_slug : '',
      domain_id : '',
      valid: false,
      loading : true
  }),
  components: {
     
  },
  methods : {
     async getSites(){

        try {

            let data = await api.get('get_sites');

            this.sites = data;

            } catch (error) {
                 console.error(error)
            
            } 

      },
      async getCategories(){

        try {

            let data = await api.get('get_categories');

            this.categories = data;

            } catch (error) {
                 console.error(error)
            
            } finally {
               this.loading = false;
            }

      },
      filterCategories(domainId){

          this.categoryOptions = [];

          this.categoryOptions = this.categories.filter((category)=>{
              return category.domain_id === domainId;
          });

          console.log(this.categoryOptions);

      },
      async save(){

          this.loading = true;

           if (this.$refs.form.validate()) {

              let params = {
                  domain_id : this.domain_id,
                  category_name : this.category_name,
                  category_slug :  this.category_slug
              } 

              try {
                  
                    let res = await api.post('add_category', params);

                    window.alert('Cheaply made success alert');

                    this.$router.push({ path : '/'});

                } catch (error) {
                    
                    console.error(error);
                     this.loading = false;
                
                } 

          }

      },
      cancel(){
          this.$router.push({ path : '/'});
      }
  },
  async mounted(){

      this.loading = true;

      await this.getSites();
      await this.getCategories();
      
  }
}
</script>

<style scoped lang="scss">



</style>
