<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-2 login">
                    <v-toolbar class="primary" dark flat>
                        <v-toolbar-title>
                            <v-icon small class="mr-2">fas fa-lock</v-icon>  Login
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <transition name="fade-transition">
                            <div v-show="error" class="alert-box">
                                <v-alert class="alert-text white--text" color="error" icon="fa-exclamation-triangle">{{ error }}</v-alert>
                            </div>
                        </transition>

                        <v-form class="login-fields">
                            <v-text-field
                                label="Username"
                                name="login"
                                type="text"
                                prepend-icon="fa-user"
                                v-model="username"
                                ref="username"
                                autocomplete="off"
                            ></v-text-field>

                            <v-text-field
                                id="password"
                                label="Password"
                                name="password"
                                type="password"
                                v-model="password"
                                prepend-icon="fa-lock"
                                @keyup.enter="authenticate"
                                ref="password"
                                autocomplete="off"
                            ></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="login-actions">
                        <v-btn class="button grey darken-2 white--text elevation-1" @click.enter="reset">
                            <i class="fas fa-sync-alt fa-sm"></i>
                            &nbsp;Reset
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn :loading="loading" class="button primary white--text elevation-1" :disabled="!username || !password" @click.enter="authenticate">
                            <i class="fas fa-sign-in-alt fa-sm"></i>
                            &nbsp;Login
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

  import api from '@/services/api';

  export default {
    name: 'Login',
    data: () => ({
        appName: '',
        appIcon: '',
        username: '',
        password: '',
        error: '',
        valid: false,
        loading : false
    }),
    methods: {
        async authenticate() {
            
            this.loading = true;

            let credentials = {
                username: this.username,
                password: this.password
            };

            try {
                const data = await api.login(credentials);

                localStorage.setItem('loginToken',data.token);

                this.$router.push({ name : 'Main' });

                this.loading = false;

            } catch (error) {

                this.error = error.message || 'There was an error logging in.';

                this.loading = false;
               
            }
        },

        reset() {
            this.username = '';
            this.password = '';
            this.error = '';
            this.$refs.username.focus();
            this.loading = false;
        }
    },

    mounted() {
        if (this.username.length > 0) {
            this.$refs.password.focus();
        } else {
            this.$refs.username.focus();
        }

        if (this.$route.query && this.$route.query.error === 'expired') {
            this.error = 'Your session expired. Please login again.';
        }

        if (this.$route.params && this.$route.params.error) {
            this.error = this.$route.params.error;
        }
    }
};
</script>

<style lang="scss" scoped>
.login {
    margin: 0 auto;
    width: 392px;
}

.login-actions {
    padding: 0 1rem 1rem 1rem;
}

.button {
    margin: 0;
    width: 48.5%;
    border-radius: 2px;
    transition: 0.3s;
}
</style>
