<template>
  <v-container fluid>

    <v-layout>

        <navbar />

    </v-layout>  

    <div class="my-1 py-1">
        <v-text-field class="my-1 py-1" v-model="search" label="Search" single-line hide-details></v-text-field>
    </div>

    <v-data-table
        :headers="headers"
        :items="questions"
        :items-per-page="15"
        class="elevation-1"
        :loading="loading"
        :search="search"
    >

    <template v-slot:progress>
                <v-progress-linear color="primary" :height="4" indeterminate></v-progress-linear>
            </template>
    
    <template v-slot:no-data>No results</template>

        <template v-slot:header="{ headers }">
            <tr>
                <th nowrap v-for="(header, headerIndex) in headers" :key="headerIndex">
                    <span>{{ header }}</span>
            
                </th>
            </tr>
        </template>

        <template v-slot:body="{ items }">
            <tbody>
                <tr v-for="(item,index) in items" :key="index">
                    <td
                        v-for="(data, index2) in headers"
                        :key="index2"
                        class="link"
                        @click="go('question',{ item : item })"
                    >
                         <div v-if="data.value !== 'img'">{{ item[data.value] }}</div>
                         <div class="flex-column" v-if="data.value === 'img'">
                             <v-img 
                                :src="`//command.mintedsky.com/quiz_images/webp/${item[data.value] }.webp`" 
                                aspect-ratio="1.7"
                                height="30"
                                width="40"
                                class="align-center"
                            ></v-img>
                         </div>
                    </td>   
                </tr>
            </tbody>
        </template>

    </v-data-table>

        
  </v-container>
</template>

<script>

  import navbar from '@/components/navbar';
  import api from '@/services/api';

  export default {
    name: 'Main',
    components : {
        navbar
    },
    data: () => ({
        loading : true,
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'start',
            sortable: true,
            value: 'master_id',
            width : '40px'
          },
          { 
            text: 'Website',
            align: 'start',
            sortable: true,
            value: 'domain',
          },
          { 
            text: 'Category',
            align: 'start',
            sortable: true,
            value: 'category_name',
          },
          { text: 'Question',
            align: 'start',
            sortable: true,
            value: 'question'
          },
          { text: 'Answer',
            align: 'start',
            sortable: true,
            value: 'answer'
          },
          { text: 'Image',
            align: 'start',
            sortable: true,
            value: 'img'
          }
        ],
        questions : []
        
    }),
    methods : {
        go(path, data) {

            this.$router.push({ path : path, query : { id : data.item.master_id, quiz_type_id : data.item.quiz_type_id } })

        },
        async getQuestions(){

            this.loading = true;

             try {

                let data = await api.get('get_master_list');

                data.forEach((item)=>{
                    item.domain = item.site_name.substring(0, 6);
                    item.hasImage = item.img ? 'Y' : '';
                })

                this.questions = data;
                 this.loading = false;
            
             } catch (error) {
                console.error(error);
                 this.loading = false;
             } 

        }
    },
    mounted(){

        this.getQuestions()

    }
  }
</script>

<style lang="scss" scoped>
.link {
    cursor: pointer;
}
</style>
