<template>
  <v-container fluid>

        <component :is="component" />

  </v-container>
</template>

<script>

import api from '@/services/api';
import questionv1 from './QuestionType1.vue';
import questionv2 from './QuestionType2.vue';

export default {
  name: 'Question',
  data: () => ({
      component : '',
      question_type : '',  
  }),
  components: {
      questionv1 : questionv1,
      questionv2 : questionv2
  },
  methods : {

  },
  async mounted(){
      this.component = 'questionv' + this.$route.query.quiz_type_id;
  },
}
</script>

<style scoped lang="scss">



</style>
