<template>
  <v-container fluid class="pa-0 ma-0">

      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >

          <v-container fluid class="pa-0 ma-0" v-if="!loading">

            <div v-if="form.master_id" class="title mb-5">Edit Question # {{ form.master_id }}  
                <v-btn small class="teal white--text ml-2" v-if="form.master_id && form.image" @click="viewQuestion()">
                    <v-icon small class="mr-2">fas fa-eye</v-icon>
                    <span>View</span></v-btn>
            </div> 

                <v-textarea
                    type="text"
                    name="question"
                    label="Question*"
                    auto-grow
                    v-model="form.question"
                    counter
                    required
                    filled
                    rows="3"
                    maxlength="2048"
                    contenteditable="true"
                    spellcheck="true"
                    append-icon="fas fa-microphone"
                    @click:append="voiceToText('question')"
                ></v-textarea>

            <v-row v-show="image && image.path">
                <v-col cols="12" sm="6">

                    <v-img 
                        :src="image.path" 
                        aspect-ratio="1.7"
                        height="125"
                        width="200"
                        class="mb-3"
                    >
                    
                        <!-- <v-slide-y-reverse-transition> -->
                            <div v-if="image && !image.uploading" class="fill-height d-flex align-end">
                                <div class="d-flex justify-space-between button-container">
                                    <i @click="viewImage()" class="clickable far fa-eye white--text white-text-shadow ma-1"></i>
                                    <i @click="removeImage()"
                                        class="clickable fas fa-trash-alt red--text red-text-shadow ma-1"
                                    ></i>
                                </div>
                            </div>
                        <!-- </v-slide-y-reverse-transition> -->

                        <div v-if="image && image.uploading" class="fill-height d-flex justify-center align-center repeating-gradient">
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </div>
                    
                    </v-img>  

                </v-col> 

                <v-col cols="12" sm="6">

                <v-btn type="button" 
                    v-if="image && !image.uploaded"
                    class="green white--text" 
                    @click="upload()">
                    <i class="fas fa-upload fa-fw mr-2"></i>
                    Upload
                </v-btn>

                 <input
                    type="file"
                    id="files"
                    name="image"
                    accept="image/jpeg,image/png"
                    style="width: 0;"
                    @change="changed($event.target.files)"
                />

                </v-col>
            </v-row>

            <v-text-field
                v-if="form.master_id && !image"
                v-model="url"
                label="Image Url*"
                counter
                maxlength="2000"
                prepend-icon="fas fa-camera"
                @click:prepend="pickFile()"
                @input="showImageFromUrl(url)"
                clearable
            ></v-text-field>

            <!-- <v-btn type="button" 
                class="primary mr-2" 
                @click="pickFile()">
                <i class="fas fa-camera fa-fw mr-2"></i>
                Select
            </v-btn> -->

            <v-text-field
                v-model="form.a1"
                label="Correct Answer*"
                required
                counter
                maxlength="256"
                :rules="[v => !!v || 'Required']"
                spellcheck="true"
                contenteditable="true"
                append-icon="fas fa-microphone"
                @click:append="voiceToText('a1')"
            ></v-text-field> 

            <v-text-field
                v-model="form.a2"
                label="Incorrect Answer*"
                required
                counter
                maxlength="256"
                :rules="[v => !!v || 'Required']"
                spellcheck="true"
                contenteditable="true"
                append-icon="fas fa-microphone"
                    @click:append="voiceToText('a2')"
            ></v-text-field> 

            <v-text-field
                v-model="form.a3"
                label="Incorrect Answer"
                counter
                maxlength="256"
                spellcheck="true"
                contenteditable="true"
                append-icon="fas fa-microphone"
                    @click:append="voiceToText('a3')"
            ></v-text-field> 

            <v-text-field
                v-model="form.a4"
                label="Incorrect Answer"
                counter
                maxlength="256"
                spellcheck="true"
                contenteditable="true"
                append-icon="fas fa-microphone"
                @click:append="voiceToText('a4')"
            ></v-text-field> 

            <v-textarea
                v-model="form.extra"
                name="extra"
                filled
                label="Extra*"
                auto-grow
                value=""
                counter
                rows="3"
                maxlength="2048"
                spellcheck="true"
                contenteditable="true"
                append-icon="fas fa-microphone"
                @click:append="voiceToText('extra')"
            ></v-textarea>

            <v-select
                :items="sites"
                v-model="form.domain_id"
                :rules="[v => !!v || 'Domain is required']"
                item-text="site_name"
                item-value="domain_id"
                label="Domain*"
                required
                @change="filterCategories(form.domain_id)"
            ></v-select>

            <v-select
                v-if="form.domain_id"
                :items="categoryOptions"
                v-model="form.category_id"
                :rules="[v => !!v || 'Category is required']"
                item-text="category_name"
                item-value="category_id"
                label="Category*"
                required
            ></v-select>

            <v-text-field
                v-if="form.master_id"
                v-model="form.slug"
                label="Slug"
                dense
                counter
                maxlength="1024"
                class="body-2"
                :disabled="form.image && form.question ? true : false"
            ></v-text-field>

            <v-row>
                <v-col cols="12">
                    <v-btn @click="cancel" class="red white--text">
                        <v-icon small class="mr-2">fas fa-times</v-icon> Cancel
                    </v-btn>

                    <v-btn @click="save" class="green white--text float-right">
                        <v-icon small class="mr-2">fas fa-save</v-icon> Save
                    </v-btn>
                </v-col>
            </v-row>

            <v-dialog v-model="previewDialog" temporary scrollable max-width="700px">
                <div class="d-flex flex-column">
                    <v-toolbar flat light class="primary white--text">
                        <v-toolbar-title>Preview Image</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn @click="previewDialog = false" icon>
                            <v-icon class="white--text">fas fa-times</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <img :src="image.path" class="preview-image" />
                </div>
            </v-dialog>

    </v-container>

    </v-form>


  <v-container  fluid v-if="loading" >
      
      <div class="d-flex justify-center align-center" style="height:80vh">

        <v-progress-circular 
            :size="150"
            :width="10"
            color="primary"
            indeterminate 
        ></v-progress-circular>

      </div>

  </v-container>

  </v-container>
</template>

<script>

import api from '@/services/api';

let form = {
    
}

class Question {
  constructor() {
    this.master_id = '';
    this.domain_id = '';
    this.display_id = '';
    this.quiz_type_id = '1';

    this.category_id = '';

    this.slug = '';
    this.active = '';
    this.question = '';
    this.image = '';
    this.a1 = '';
    this.a2 = '';
    this.a3 = '';
    this.a4 = '';
    this.extra = '';
  }
}

export default {
  name: 'Question',
  data: () => ({
    loading : true,
    error : '',
    valid : true,
    editMode : false,  
    form : new Question,
    previewDialog : false,
    image  : '',
    url : '',
    fileDataArray : [],
    sites : [],
    categories : [],
    categoryOptions : []      
  }),
  components: {
  },
  methods : {
      voiceToText(field){

        let recognition = new webkitSpeechRecognition();
    
        recognition.continuous = false;
        recognition.lang = 'en-US';
        recognition.interimResults = false;
        recognition.maxAlternatives = 1;

        recognition.start();

        recognition.onerror = (event) => {
            console.error(event);
        };

        recognition.onresult = (event) => {
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    
                    event.results[i][0].transcript

                    this.form[field] += event.results[i][0].transcript;
                }
            }
        }

        recognition.onspeechend = () => {
            recognition.stop();
        }

      },
      async getSites(){

        try {

            let data = await api.get('get_sites');

            this.sites = data;

            } catch (error) {
                 console.error(error)
            
            } finally {
               // this.loading = false;
            }

      },
      async getCategories(){

        try {

            let data = await api.get('get_categories');

            this.categories = data;

            } catch (error) {
                 console.error(error)
            
            } finally {
               // this.loading = false;
            }

      },
      filterCategories(domainId){

          this.categoryOptions = [];

          this.categoryOptions = this.categories.filter((category)=>{
              return category.domain_id === domainId;
          });

      },
      async getQuestion(id) {

          this.loading = true;

            let params = {  id : id }

            this.form = form;

            try {

            let data = await api.get('get_question', params);

            this.form.master_id = data.masterData.master_id;
            this.form.domain_id = data.masterData.domain_id;
            this.form.display_id = data.masterData.display_id;
            this.form.quiz_type_id = data.masterData.quiz_type_id;
            this.form.slug = data.masterData.slug;

            if(data.metaData) {
                this.form.category_id = data.metaData.category_id;
            }            

            this.form.question = data.questionData.question;

            if(data.questionData.img) {

                // handle jpg/gif/webp  ////
                let folder = 'img'
               
                var item = {
                    extension: this.getExtension(data.questionData.img),
                    name: data.questionData.img,
                    path: `https://command.mintedsky.com/quiz_images/${ folder }/${ data.questionData.img + data.questionData.img_type }`,
                    uploaded : true,
                    uploading : false
                };

                this.image = item;
                this.form.image = data.questionData.img;

            }

            this.form.a1 = data.questionData.answer;
            this.form.a2 = data.questionData.incorrect1;
            this.form.a3 = data.questionData.incorrect2;
            this.form.a4 = data.questionData.incorrect3;
            this.form.extra = data.questionData.extra;

            this.filterCategories(data.masterData.domain_id);

            } catch (error) {
                 console.error(error)
            
            } finally {

                this.loading = false;
            }

      },
      async save(){

           if(this.$refs.form.validate()){

             //  this.loading = true;

               let params = {
                   masterData : {
                       quiz_type_id : this.form.quiz_type_id
                   },
                   metaData : {}
               };

               params.masterData.domain_id = this.form.domain_id;

               if(this.form.master_id){
                   params.masterData.master_id = this.form.master_id;
                   params.masterData.display_id = this.form.display_id;
                   params.masterData.slug = this.form.slug;
               }

               if(this.form.category_id){
                   params.metaData.category_id = this.form.category_id;
               }

                params.questionData = {
                    question : this.form.question,
                    image : this.form.image,
                    a1 : this.form.a1,
                    a2 : this.form.a2,
                    a3 : this.form.a3,
                    a4 : this.form.a4,
                    extra : this.form.extra
                };

               let endpoint = this.form.master_id ? 'update_question' : 'add_new_question' 

               try {

                    let res = await api.post(endpoint, params);

                    console.log(res);

                    if(!this.form.master_id) {
                        this.$router.replace({ path : '/question', query : { id : res.id, quiz_type_id : 1, timestamp : Math.round((new Date()).getTime() / 1000) } });
                    } else {
                        location.reload();
                    }

                } catch (error) {
                    console.error(error)
                
                } finally {

                    this.loading = false;
                }

           }

      },
      async upload(){

          let result = null;

          if(this.url) {
              
              result = await this.downloadImageFromUrl();

          } else if (this.fileDataArray.length > 0) {

              result = await this.sendFile();
          }

      },
      async downloadImageFromUrl(){

          this.error = '';
          this.image.uploading = true;

          let params = {
              extension : this.getExtension(this.url),
              url_file : this.url,
              file_name : `${ this.form.slug }`,
              master_id : this.form.master_id  
          }

          try {

              let res = await api.post('download_image', params);
              
              if(res.success){
                  location.reload();
                  
              } else {
                  this.error = 'There was an error downloading the image';
              }

            } catch(error) {
                console.log(error);
                
            } finally {
                this.loading = false;
            }

      },
      viewQuestion(){

          let site = this.sites.find( site => site.domain_id === this.form.domain_id);

          let category = this.categories.find(category => category.category_id === this.form.category_id);

          let url = `https://${ site.site_name }/quiz.php?category=${ category.category_slug.toLowerCase() }&id=${ this.form.slug }`

          window.open(url,'_blank')

          

      },
      updateProgress(value) {
            this.image.progress = value;
      },
    //   async uploadImage(){
                 
    //         try {
    //             await api.post('add-photo', formData);

    //         } catch(error) {
    //             console.log(error);
               
    //         } finally {
    //             this.loading = false;
    //         }
        
    //   },
    async sendFile() {

            if (this.fileDataArray.length > 0) {
                
                let file = this.fileDataArray[0];
                let formData = new FormData();

                formData.append('id', this.form.master_id);
                formData.append('file', file, `${ this.form.slug }-${ this.form.display_id }`);
                formData.append('extension', file, this.getExtension(file));

                try {

                    let res = await api.sendFile('upload_image', formData, this.updateProgress);

                    this.image.uploaded = true;

                    if(res.success){
                        location.reload();
                    }
 
                } catch (error) {
                    this.uploading = false;
                    this.toastError = error.message || 'Error saving media file.';
                    this.toast = true;
                }
            }
      },
      reset(){
          this.$refs.form.reset();
          this.$refs.form.resetValidation() 
      },
      cancel(){
          this.$router.push({ path :  '/'})
      },
      viewImage() {
            this.previewDialog = true;
      },
      removeImage(){
          this.deleteImage();
      
      },
      async deleteImage(){

          let params = {
              master_id : this.form.master_id,
              quiz_type_id : this.form.quiz_type_id,
              extension : this.getExtension(this.image.path),
              image : this.image.name
          }

          try {

            const res = await api.post('delete_image',params);

            if(res.success) {

                this.image = '';
                this.url = '';
                this.fileDataArray = [];

            }

          } catch (error) {

              console.log(error);
          }

      },
      cleanUrl(url){
          return url.replace(/(.+?\.jpg).*/, "$1");
          
      },
      showImageFromUrl(url){

          let cleanUrl = this.cleanUrl(url)

          var item = {
            path : cleanUrl,
            uploaded: false,
            uploading : false,
            progress: 0,
        };

        setTimeout(()=>{
            this.image  = item;
        },1000);

      },
      getExtension(filename) {
            return (filename.substring(filename.lastIndexOf('.') + 1, filename.length) || filename).toLowerCase();
      },
      pickFile(){
            window.document.getElementById('files').click();
      },
      changed(files) { 

          // clear array
          this.fileDataArray = [];

            // Grab files
            if (files && files[0]) {

                // For each file, get file (extension,name, path) and add to imgURLs for display to media strip
                files.forEach((file) => {

                    let fileReader = new FileReader();
                    let fileExtension = this.getExtension(file.name);
                    let filename = file.name;


                        if (filename && filename.lastIndexOf('.') <= 0) {
                            return alert('Please add a valid image!');
                        }

                        fileReader.addEventListener('load', e => {

                            var item = {
                                extension: fileExtension,
                                name: filename,
                                path: fileReader.result,
                                uploaded: false,
                                uploading : false,
                                progress: 0,
                            };

                            this.fileDataArray.push(file);
                            this.image = item;
                        });

                        fileReader.readAsDataURL(file);
                    
                });

            }
        },
  },
  async mounted(){

      await this.getSites();
      await this.getCategories();

      if(this.$route.query.id) {
          this.editMode  = true;
          await this.getQuestion(this.$route.query.id);

      } else {
          this.form = new Question;
          this.loading = false;

      }
      
  }
}
</script>

<style scoped lang="scss">

.button-container {
    width: 100%;
    padding: 0.2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.preview-image {
    width: 100%;
}

</style>
