<template>
  <v-container fluid>

      <v-container fluid class="pa-0 ma-0" v-if="!loading">

      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="save"
      >

            <v-select
                :items="voices"
                item-text="description"
                item-value="name"
                v-model="form.voice"
                label="Voice*"
                :rules="[v => !!v || 'Required']"
                required
            ></v-select> 

            <v-textarea
                type="text"
                name="text"
                label="Text*"
                auto-grow
                v-model="form.text"
                counter
                required
                filled
                rows="3"
                maxlength="2048"
                :rules="[v => !!v || 'Required']"
            ></v-textarea>

            <v-text-field
                v-model="form.file_name"
                label="File Name*"
                required
                counter
                maxlength="256"
                :rules="[v => !!v || 'Required']"
            ></v-text-field> 


            <v-row class="mt-2">
                <v-col cols="12">
                    <v-btn @click="cancel" class="red white--text">
                        <v-icon small class="mr-2">fas fa-times</v-icon> Cancel
                    </v-btn>

                    <v-btn type="submit" class="green white--text float-right">
                        <v-icon small class="mr-2">fas fa-save</v-icon> Save
                    </v-btn>
                </v-col>
            </v-row>

        </v-form>


        <div v-if="success">

            <a :href="'https://command.mintedsky.com/audio/'  + form.file_name + '.mp3' ">{{ 'https://command.mintedsky.com/audio/'  + form.file_name + '.mp3' }}</a>

            <br />

            <audio controls>
                <source :src="'https://command.mintedsky.com/audio/'  + form.file_name + '.mp3'" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>

         </div>   

        </v-container>

        <v-container  fluid v-if="loading" >
      
            <div class="d-flex justify-center align-center" style="height:80vh">

                <v-progress-circular 
                    :size="150"
                    :width="10"
                    color="primary"
                    indeterminate 
                ></v-progress-circular>

            </div>

        </v-container>

  </v-container>
</template>

<script>

import api from '@/services/api';


export default {
  name: 'Text2Speech',
  data: () => ({
      valid : true,
      form : {
          voice : '',
          text : '',
          file_name : '',

      },
      success :false,
      voices : [],
      loading : true
  }),
  components: {
     
  },
  methods : {

      async getVoices(){

        try {

            const data = await api.get('get_voices');

            this.voices = data.voices;

            } catch (error) {
                 console.error(error)
            
            } finally {
               this.loading = false;
            }

      },
      async save(){

           if (this.$refs.form.validate()) {

               this.loading = true;

              let params = {
                  file_name : this.form.file_name,
                  text : this.form.text,
                  voice :  this.form.voice
              } 

              try {
                  
                    let res = await api.post('create_voice_file', params);
                    this.loading = false;

                    window.alert('Cheaply made success alert');

                    this.success = true;

                } catch (error) {
                    
                    console.error(error);
                     this.loading = false;
                
                } 

          }

      },
      cancel(){
          this.$router.push({ path : '/'});
      }
  },
  async mounted(){

      this.loading = true;

      await this.getVoices();

      
  }
}
</script>

<style scoped lang="scss">



</style>
