<template>
  <v-container fluid class="blue-grey lighten-3">

        <v-btn class="green darken-2 white--text mr-5" @click="go('add-question')">
            <v-icon x-small class="mr-2">fas fa-plus</v-icon>
            Add Question
        </v-btn>

        <v-btn class="blue-grey white--text mr-2" @click="go('add-category')">
            <v-icon x-small class="mr-2">fas fa-plus</v-icon>
            Add Category
        </v-btn>

        <v-btn class="blue-grey white--text mr-2 float-right" @click="go('text2speech')">
            <v-icon x-small class="mr-2">fas fa-microphone</v-icon>
            Text 2 Speech
        </v-btn>
        
  </v-container>
</template>

<script>
  export default {
    name: 'navbar',
    data: () => ({
        
    }),
    methods : {
        go(path) {
            this.$router.push({ path})
        }
    }
  }
</script>