<template>
  <v-app>
    <v-app-bar
      app
      dark
      class="elevation-0 primary"
      v-if="$route.path !== '/login'"	
    >
  
        <v-btn text 
            @click="go('/')"
		>
            <v-icon small class="mr-2 pb-1">fas fa-home</v-icon>
            <span>{{ productName }}</span>
        </v-btn>  

        <v-spacer></v-spacer>

        <v-btn text 
			@click="logout()"
		>
            <v-icon small class="mr-2 pb-1">fas fa-sign-out-alt</v-icon>
            <span>Logout</span>
        </v-btn>

    </v-app-bar>

    <v-main class="d-flex flex-grow-1">
      <router-view :key="$route.fullPath"></router-view>
	</v-main>

	
  </v-app>
</template>

<script>

import navbar from '@/components/navbar';
import authorization from '@/services/authorization';

export default {
  name: 'App',
  components : {
	  navbar
  },
  data: () => ({
     productName : process.env.VUE_APP_NAME
  }),
  methods : {
	go(path) {
		this.$router.push({ path })
    },
    logout(){
        authorization.logout();
        this.$router.push({ name : 'login' })
    }
  }
};
</script>

<style scoped>

@import './styles/main.scss';

</style>
